*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.forgotpage{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../Image/Doctorpage.jpg);
    /* background-color: aqua; */
    background-position: center;
    background-size: cover;
    position: absolute;
}
.Title{
    text-align: center;
    margin-top: 100px;
    color: #312202;
    font-weight: bold;
}

.form-box{
    width: 380px;
    height: 380px;
    position: relative;
    margin: 6% auto ;
    background-color: #cae9d0;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
}
.inp-grp{
    top:180px;
    position: absolute;
    width: 280px;
}
.inp-box{
    width: 100%;
    padding: 10px 0;
    margin: 2px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.sub-box{
    width: 50%;
    padding: 10px 30px;
    display: block;
    margin-top: 25px;
    margin-left: 65px;
    background: linear-gradient(to right, #b7ddf1,#90c79a);
    border: 0;
    outline: none;
    border-radius: 10px;
    font-weight: bold;
    color: #0e0a01;
}
.sub-box:hover{
    background: linear-gradient(to right, #90c79a,#b7ddf1);

}
.check-box{
    margin: 13px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    position: relative;
}
#Login{
    left: 50px;
}
#Register{
    left: 400px;
}
.Goto{
    margin-top: 25px;
}
.Goto ul li{
    list-style: none;
    text-align: center;
}
.Goto ul li a{
    text-decoration: none;
    font-size: 12px;
    color: #1a626f;
}
.Goto ul li a:hover{
    color: black;
}
.forgot{
    font-size: 12px;
    color: #1a626f;
    text-decoration: none;
}

.forgot:hover{
    text-decoration: underline;
    color: blue;
}