* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Poppins', sans-serif;

}


.header {
    position: relative;
    box-shadow: 2px 4px #eaf3fa;
}

.header nav h2 {
    color: #233863;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 20px;
}

.Tim {
    float: right;
    margin-bottom: 25px;
    font-size: 15px;
    background-color: #f7a955;
}

.Tim h4 {
    font-family: system-ui;
    color: cadetblue;
    background-color: white;
    text-align: center;
    font-weight: bold;
}

#clock {
    font-family: system-ui;
    color: cadetblue;
    background-color: ghostwhite;
    text-align: center;
    font-weight: bold;
}

#clock:hover {
    color: #f7a955
}

nav ul li {
    list-style-type: none;
    display: inline;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 8px;
    color: #f7a955;
}

.home {
    color: cadetblue;
    background-color: hsl(22, 100%, 89%);
    border-radius: 5px;
}

#medical {
    color: cadetblue;
    background-color: hsl(22, 100%, 89%);
    border-radius: 5px;
}

nav ul li a:hover {
    color: cadetblue;
    background-color: hsl(22, 100%, 89%);
    border-radius: 5px;
}

/* .sublogin{
    background-color: whitesmoke;
    width: 180px;
    height: 120px;
    display: none;
    right: 0;
    border-radius: 8px;
}
.sublogin ul li a{
    font-size: 15px;
    line-height: 40px;
}
.sublogin ul li a:hover{
    color:cadetblue;
}
.header nav ul .login:hover .sublogin{
    display: block;
    position: absolute;
} */
.webbody {
    height: 100vh;
    width: 100%;
    background-image: url(../Image/Homepage.jpg);
    background-size: cover;
    background-position: center;
}

.video {
    width: 800px;
    height: 450px;
}

.con2 {
    width: 1200px;
    height: 100%;
    margin: 15px 15px;
    padding: 15px 15px;
    background-color: ghostwhite;
    box-shadow: 2px 4px #eaf3fa;
    color: cadetblue;
}

.con2:hover {
    color: #f7a955;
}

.con2 p {
    text-align: justify;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* MEDICAL SPECIALIST */

.medicalbody {
    width: 90%;
    height: 100vh;
    color: white;
    margin: auto;
    display: grid;
    padding-top: 50px;
    /* align-items: center; */
    background-image: url(../Image/);
    justify-content: center;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-columns: 200px 200px 200px 200px;
    grid-row-gap: 100px;
    grid-column-gap: 100px;
}

.box {
    background-color: whitesmoke;
    border-radius: 50px;
    text-align: center;
    padding: 55px 50px;
    color:#2371b4;
    font-weight: bold;
    border-color: #f7a955;
}

.icons{
    border-radius: 30px;
}

/* .box2 {
    background-color: whitesmoke;
    border-radius: 50px;
    text-align: center;
    padding: 55px 50px;
    color:#f8a955;

}

.box3 {
    background-color: whitesmoke;
    border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    padding: 55px 50px;
    color:#f8a955;


}

.box4 {
    background-color: whitesmoke;
    border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    padding: 55px 50px;
    color:#f8a955;

}

.box5 {
    background-color: whitesmoke;
    border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    padding: 55px 50px;
    color:#f8a955;

}

.box6 {
    background-color: whitesmoke;
    border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    padding: 55px 50px;
    color:#f8a955;

}

.box7 {
    background-color: whitesmoke;
    border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    padding: 55px 50px;
    color:#f8a955;
    color:#f8a955;


}

.box8 {
    background-color: rgb(253, 253, 255);
    border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    padding: 55px 50px;
    color:#f8a955;

} */
#modal_container{
  opacity: 0;
    
    /* background-color: white; */
}
#modal_container .show{
    pointer-events: auto;
    opacity: 1;
}
.modal{
    background-color: #233863;
    width: 700px;
    height: 700px;
    position: relative;
}


/* ADMIN PAGE */
.adminbody {
    width: 100vw;
    height: 100vh;
    background-image: url(../Image/adminpage.jpg);
    background-size: cover;
    background-position: center;


}

/* Doctor Page */
.doctorbody {
    width: 100vw;
    height: 100vh;
    background-image: url(../Image/login.jpg);
    background-size: cover;
    background-position: center;
}

/* Patient Page */
.patientbody {
    width: 100vw;
    height: 100vh;
    background-image: url(../Image/plog.jpg);
    background-size: cover;
    background-position: center;
}

/* .homebox{
    background-color: #233863;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin:100px 40px 0px 100px;
} */

.footer #footerid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 20px;
    margin-bottom: 0;
}